@import url("https://fonts.cdnfonts.com/css/graphik");
@import url("https://fonts.cdnfonts.com/css/clash-display");
@import url('https://fonts.cdnfonts.com/css/montserrat');


@tailwind base;
@tailwind components;
@tailwind utilities;


.hero-image{
    background-image: blurhash('LNIE^a~qIps:xuWBxuog?ckCRPRj');
}

@keyframes pulse {
    0% {
      transform: scaleX(1);
    }
    50% {
      transform: scaleX(1.2);
    }
    100% {
      transform: scaleX(1);
    }
  }

  .pulse-path {
    stroke: #FFD037;
    stroke-width: 3;
    animation: pulse 10s infinite;
    transform-origin: center;
  }